<h1>hello world</h1>

<h2>I am an example app showing how to use the Heroku Pipeline with Rails</h2>

<p> I live at <a href="https://github.com/jasonfb/test-heroku-pipiline" target="_blank">https://github.com/jasonfb/test-heroku-pipiline</a></p>

<em>see the README.md file for information</em>


<br />
If you are reading this I appear to be deployed correctly.

<hr />


<br />
The number of Articles in the database is <%= Article.all.count %>

<br />
The current time is <%= Time.current %>


<br />
The current Rails version is <%= Rails.version %>

